<h1>Listing articles</h1>
 
<table>

  <% @articles.each do |article|   %>
    
      <th>Title</th>
      <td><%= article.title %></td>
      <th>Text</th>
      <td><%= article.text %></td>
      
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% article.comments.each do |c| %>
        <th> Comment:</td>
        <td><%= c.commenter %></td>
        <th> body:</td>
        <td><%= c.body %></td>
      <% end %>
      <tr>

      </tr>
  <% end %>
  <%= link_to 'New article', new_article_path %>

</table>
  <div class="text-center">
  <%= will_paginate @notices, renderer: BootstrapPagination::Rails %>
  </div>
